header {
    display: flex;
    align-items: center;
    position: fixed;
    height: 3rem;
    top: 0;
    z-index: 999;
    width: 100%;
    transition: all 300ms;
    color-scheme: dark;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    user-select: none;
    border-bottom: rgba(0, 0, 0, 0) solid 1px;
    padding: 20px 0 20px 0;
}

header svg {
    margin-left: 100px;
}

header svg path {
    transition: all 0.7s;
    fill: var(--color-dark);
}

.headerMainLinks::before {
    content: "•";
    color: var(--color-dark-rgba);
}

.headerMiscLinks, .headerMainLinks {
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.headerMainLinks {
    margin-left: 20px;
}

.headerMainLinks a, .headerMiscLinks a {
    color: var(--color-dark-rgba);
    text-decoration: none;
    transition: all 0.7s;
}

.headerMiscLinks {
    margin-right: 100px;
    margin-left: auto;
}

.headerMainLinks a, .headerMiscLinks a {
    color: var(--color-dark-rgba);
}

.headerMainLinks a:hover {
    color: var(--color-dark-hover);
}

.headerMiscLinks a:hover {
    color: var(--color-dark-rgba);
}

header.shrunk {
    transition: all 300ms;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    height: 1.5rem;

    svg path {
        fill: #FFF;
    }

    .headerMainLinks::before {
        content: "•";
        color: rgba(255, 255, 255, 0.75);
    }

    .headerMainLinks a, .headerMiscLinks a {
        color: rgba(255, 255, 255, 0.75);
    }

    .headerMainLinks a:hover {
        color: rgb(255, 255, 255);
    }

    .headerMiscLinks a:hover {
        color: white;
    }
}