:root {
    --color-dark: #181717;
    --color-dark-rgba: rgba(24, 23, 23, 0.55);
    --color-dark-hover: rgb(24, 23, 23);
    --color-light-text: rgba(24, 23, 23, 0.3);
    --color-warning: #ff9100;
    --color-notice-bg: rgba(255, 161, 0, 0.1);
    --color-border: rgb(131, 132, 136);
    --color-button-bg: rgba(24, 23, 23, 1);
    --color-button-hover: #333;
    --color-footer-border: rgba(24, 23, 23, 0.24);
    --color-background: #fff;
}

body {
    background: var(--color-background);
    font-family: "Poppins", system-ui;
    -webkit-user-drag: none;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--color-dark);
    transition: all 100ms;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

path {
    fill: transparent;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-dark);
    font-family: "Playfair Display", sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.bold {
    letter-spacing: 1px;
    font-weight: 700;
}

.browseOtherBuilds {
    text-decoration: none;
    color: var(--color-dark-rgba);
    font-weight: 600;
    transition: all 100ms;
}

.browseOtherBuilds:hover {
    color: var(--color-dark-hover);
}

.downloadButtons {
    margin-top: 40px;
}

.downloadButtons button {
    font-family: "Poppins", sans-serif;
    color: white;
    background: var(--color-button-bg);
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0.7rem 2rem;
    cursor: pointer;
    text-align: center;
    margin-right: 0.5rem;
    border: none;
    transition: background 100ms;
}

.downloadButtons button:hover {
    background-color: var(--color-button-hover);
}

.mainArticle, .aboutSomnacreare {
    padding-right: 600px;
}

.dreamingLetter {
    font-size: 70px;
    animation: rotateLullaby 6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    display: inline-block;
    transform-origin: top; /* Rotate from the top */
}

.rope {
    position: absolute;
    width: 1px; /* Thickness of the "rope" */
    top: 0;
    left: 25px;
    height: 232px; /* Height of the rope */
    background: var(--color-dark);
    transform-origin: top; /* Rotate from the top */
    animation: rotateLullabyRope 6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes rotateLullaby {
    0%, 100% {
        transform: rotate(3deg) translateX(-10px) translateY(5px);
    }
    50% {
        transform: rotate(-3deg) translateX(10px) translateY(5px);
    }
}

@keyframes rotateLullabyRope {
    0%, 100% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
}

.mainArticle {
    position: relative;
    width: 100%;
    flex-wrap: nowrap;
    padding-top: 200px;
    margin-bottom: 50px;
    margin-left: 8%;
}

.mainArticle h2 {
    font-family: Poppins, system-ui;
    font-weight: 500;
    max-width: 600px;
    padding-top: 20px;
    margin-left: 1%;
    font-size: 24px;
}

.aboutSomnacreare {
    max-width: 600px;
    margin-left: 10%;
}

.aboutSomnacreare h3 {
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-weight: 700;
    margin-top: 10px;
}

.aboutSomnacreare p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
}

.text {
    font-size: 22px;
}

.notice {
    border-radius: 5px;
    border: 1px solid var(--color-warning);
    font-size: 15px;
    margin-top: 20px;
    max-width: 600px;
}

.noticeContent {
    display: flex;
    padding: 10px;
    font-weight: 500;
    color: var(--color-dark);
    background-color: var(--color-notice-bg);
}

.noticeContent::before {
    margin: auto 10px auto 5px;
    vertical-align: middle;
    content: url(/assets/svg/warning.svg);
}

@media only screen and (max-width: 950px) {
    header {
        height: 1.5rem;
    }

    .mainArticle, .aboutSomnacreare {
        padding-right: 0;
    }

    header.shrunk {
        height: 1.5rem;
        background: rgb(0, 0, 0);
        border-bottom: var(--color-footer-border) solid 1px;
    }

    header .logo {
        height: 2.5rem;
        content: url("/assets/svg/logo-alt.svg");
        margin-left: 50px;
    }

    .headerMainLinks {
        visibility: hidden;
        display: none;
    }

    .headerMiscLinks {
        margin-right: 20px;
    }

    .mainArticle {
        flex-wrap: nowrap;
        margin-top: 200px;
        padding-right: 0;
        margin-left: 0;
        margin-bottom: 50px;
    }

    .mainArticle, .aboutSomnacreare {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .aboutSomnacreare h3 {
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 0;
        flex-wrap: nowrap;
    }

    .aboutSomnacreare p {
        font-size: 19px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .notice, .text {
        margin-right: 25px;
        margin-left: 25px;
    }

    .downloadButtons .browseOtherBuilds {
        display: flex;
        justify-content: center;
    }
}